on post-fs-data
    mkdir /data/sensors 0770 system system

    chown system input /sys/class/input/input2/enable
    chown system input /sys/class/input/input2/delay
    chown system input /sys/class/input/input2/wake

    chown system input /sys/class/input/input3/data
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/filter_enable
    chown system input /sys/class/input/input3/filter_len
    chown system input /sys/class/input/input3/position
    chown system input /sys/class/input/input3/status
    chown system input /sys/class/input/input3/wake

    chown system input /sys/class/input/input4/distortion
    chown compass input /sys/class/input/input4/dynamic_matrix
    chown compass input /sys/class/input/input4/offsets
    chown system input /sys/class/input/input4/shape
    chown system input /sys/class/input/input4/threshold
    write /sys/class/input/input4/distortion "500 350 15"

    chown system input /sys/class/input/input5/data
    chown system input /sys/class/input/input5/delay
    chown system input /sys/class/input/input5/enable
    chown system input /sys/class/input/input5/status
    chown system input /sys/class/input/input5/wake

    chown system input /sys/class/input/input6/enable

    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/name
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/vendor

service orientationd /system/bin/orientationd
    class main
    user compass
    group input

service geomagneticd /system/bin/geomagneticd
    class main
    user compass
    group system input
